@namespace Omni.Blazor.Components
@inherits OmniComponent
@using Omni.Blazor.Utilities

@* Horizontal divider between groups of <OmniMenuItem>s. *@

<div class="@RootCss" style="@Style" role="separator" @attributes="Attributes"></div>

@code {
    private string RootCss => CssBuilder.Default("omni-menu-sep")
        .AddClass(Class)
        .Build();
}
