@namespace Omni.Blazor.Components
@inherits OmniComponentWithChildren

@if (!string.IsNullOrEmpty(Label))
{
    <div class="omni-sidebar-section-label">@Label</div>
}
<div class="omni-panel-menu" style="@Style">@ChildContent</div>

@code {
    [Parameter] public string? Label { get; set; }
}
