@namespace Omni.Blazor.Components
@inherits OmniComponentWithChildren
@using Omni.Blazor.Utilities

@* Grid container that lays out OmniMosaicCard children into a responsive mosaic. *@

<div class="@RootCss" style="@Style" @attributes="Attributes">
    @ChildContent
</div>

@code {
    private string RootCss => CssBuilder.Default("omni-mosaic")
        .AddClass(Class)
        .Build();
}
